.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.myheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.logo {
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

nav {
  width: 600px;
  justify-content: space-evenly;
  margin-left: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  font-size: 20px;
}

.burger {
  display: none;
  font-size: 30px;
}

.myheader {
  width: 90%;
}

.bigbox {
  display: flex;
  justify-content: space-between;
}

.infobox {
  width: 200px;
  margin-top: 50px;
  margin-left: 56px;
}

h3 {
  font-size: 15;
  color: grey;
  margin-bottom: 10px;
}

.infobox > h2 {
  font-size: 15.998350143432617;
  color: #1a1a1b;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  color: cadetblue;
}

.cardbox {
  width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 245px;
  margin-top: 50px;
}

.size {
  width: 100%;
}

h2 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}
